<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div><%= message %></div><br>

    <form method="post" action="/user/admin/newuser">
      User Name: <input type="text" name="username"> <br>
      Password:  <input type="password" name="password"> <br>
      UID: <input type="text" name="uid"> <br>
      Authorization: <input type = "text" name="auth"> <br>
      <button>Add</button>
    </form>
  </body>
</html>
