/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* { box-sizing:border-box; }*/

/* basic stylings ------------------------------------------ */

@import url('form.css');
@import url('button.css');
@import url('style.css');
/*@import url('/css/materialize.css');
@import url('/css/materialize.min.css');*/



/* All three CSS files above will be loaded from
   this single document. */




